<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Header Start -->
<header class="header-wrapper main-header" th:fragment="title">
    <div class="header-inner-wrapper">
        <div class="logo-wrapper">
            <a href="" class="admin-logo">
                <img th:src="@{/static/picture/logo.png}" alt="">
            </a>
        </div>
<!--    右侧退出登录    -->
        <div class="header-right">
            <div class="header-left">
            </div>
            <div class="header-controls">
                <div class="user-info-wrapper header-links">
                    <a href="javascript:void(0);" class="user-info">
                        <img th:src="@{/static/picture/user.jpg}" alt="" class="user-img">
                        <div class="blink-animation">
                            <span class="blink-circle"></span>
                            <span class="main-circle"></span>
                        </div>
                    </a>
                    <div class="user-info-box">
                        <div class="drop-down-header">
                            <h4 th:text="${user.getName()}">John Brown</h4>
                            <p th:text="${user.getRole().equals('user') ? '普通学生' : '管理员'}">UI | UX Designer</p>
                        </div>
                        <ul>
                            <li>
                                <a th:href="@{/api/auth/logout}">
                                    <i class="fas fa-sign-out-alt">退出登录</i>
                                </a>
                                <!--                                            <input type="text" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}" hidden>-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Sidebar Start -->
<aside class="sidebar-wrapper" th:fragment="aside">
    <div class="side-menu-wrap">
        <ul class="main-menu">
            <li sec:authorize="hasRole('admin')">
                <a th:href="@{/page/admin/index}">
                            <span class="icon-menu feather-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </span>
                    <span class="menu-text">
                                借阅管理
                            </span>
                </a>
            </li>
            <li sec:authorize="hasRole('admin')">
                <a th:href="@{/page/admin/book}">
                            <span class="icon-menu feather-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-package"><line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                            </span>
                    <span class="menu-text">
                                图书管理
                            </span>
                </a>
            </li>
            <li sec:authorize="hasRole('user')">
                <a th:href="@{/page/user/index}">
                            <span class="icon-menu feather-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </span>
                    <span class="menu-text">
                                图书借阅
                            </span>
                </a>
            </li>
            <li sec:authorize="hasRole('user')">
                <a th:href="@{/page/user/book}">
                            <span class="icon-menu feather-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-package"><line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                            </span>
                    <span class="menu-text">
                                借阅管理
                            </span>
                </a>
            </li>
        </ul>
    </div>
</aside>

</body>
</html>